@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --background: #e7e7e7;
  --box-background: #f9f9f9;
  --primaryColor: #f47a60;
  --light-primaryColor: #ffbcae;
  --secondaryColor: #193b45;
  --borderColor: #828282;
  --paidColor: #27ae60;
  --unpaidColor: #333333;
  --pendingColor: #f2994a;
  --black-background: #1b1b1c;
  --light-black-background: #e0e0e0;
  --darkTeal: #193b45;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 5.4rem;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.top-header::after {
  content: '';
  width: 100%;
  height: 1px;
  color: #333;
}

.btn {
  border: none;
  width: 5.8rem;
  height: 2.2rem;
}

.btn-active {
  background: coral;
  padding: 0.9rem 1.6rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 8px;
}

.btn-low {
  background: transparent;
  border: 2px solid coral;
  border-radius: 8px;
  color: coral;
  padding: 0.9rem 1.6rem;
  margin-right: 10px;
}

.logo {
  font-size: 1.8rem;
}

.cats-box {
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  /* width: 13rem; */

  /* position: relative; */
}

.cats-box:hover {
  background: #eeeeee;
}
