.searchBox {
  border: 0.045rem solid rgb(153, 153, 153);
  border-radius: 4.44px;
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin-left: 2rem;
}

.searchInput {
  padding: 0.469rem 1.688rem;
  border: none;
  width: 100%;
  flex: 1;
  outline: none;
  margin-left: -12px;
}

.trendCard {
  display: grid;
  height: 38vh;
  margin: 0 25px;
  grid-template-areas:
    'Tcard1 Tcard2 Tcard3 Tcard4'
    'Tcard1 Tcard5 Tcard3 Tcard6';
  gap: 20px;
}

.tCard1 {
  grid-area: Tcard1;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard2 {
  grid-area: Tcard2;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard3 {
  grid-area: Tcard3;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard4 {
  grid-area: Tcard4;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard5 {
  grid-area: Tcard5;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard6 {
  grid-area: Tcard6;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.nav {
  display: block;
  border-bottom: 1px solid rgb(177, 177, 177);
}

/************ Login Styles  **************/
.formHead {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 222px;
  flex: none;
  line-height: 126%;
}

.formHead h3 {
  font-weight: 500;
  font-size: 22px;
  color: #4f4f4f;
}

.formCard {
  position: relative;
  background: #fff;
  width: 580px;
  max-width: 580px;
  padding: 25px 25px;
  margin: 3rem auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  padding: 20px 42px 10px 42px;
}
.formContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 10px 42px 0px 42px;
}

.formContainer input {
  border: 1px solid #333333;
  border-radius: 10px;
}

.inputGroup label {
  color: #a1a1a1;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  cursor: text;
  transition: 0.3s;
}

.formContainer input:focus ~ label {
  top: -18px;
  font-size: 14px;
}

.formContainer .inputGroup {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.forgetPassword {
  font-size: 14px;
  color: #316879;
  display: flex;
  align-self: flex-end;
  font-weight: 500;
  margin-bottom: 15px;
}

.loginButton {
  width: 300px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  background: #ff8c75;
  border-radius: 5px;
  transition: all ease-in;
}

.btnFloat {
  display: flex;
  align-self: center;
}

.loginButton:hover,
.loginButton:focus {
  background: #f47a60;
}

.line::after {
  content: '';
  border: 0.5px solid #bdbdbd;
  position: absolute;
  display: flex;
  align-self: center;
  width: 90%;
  height: 0px;
}

.formContainer1 p {
  margin-top: 20px;
  font-size: 14px;
  color: #4f4f4f;
  margin-bottom: 20px;
}

.socialIcons {
  display: flex;
  column-gap: 8px;
}

.formContainer1 p:last-child {
  font-size: 16px;
  font-weight: 500;
}

.formContainer1 p a {
  color: #f47a60;
  font-weight: 600;
}
