.searchBox {
  border: 0.045rem solid rgb(153, 153, 153);
  border-radius: 4.44px;
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin-left: 2rem;
}

.searchInput {
  padding: 0.469rem 1.688rem;
  border: none;
  width: 100%;
  flex: 1;
  outline: none;
  margin-left: -12px;
}

.trendCard {
  display: grid;
  height: 38vh;
  margin: 0 25px;
  grid-template-areas:
    'Tcard1 Tcard2 Tcard3 Tcard4'
    'Tcard1 Tcard5 Tcard3 Tcard6';
  gap: 20px;
}

.tCard1 {
  grid-area: Tcard1;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard2 {
  grid-area: Tcard2;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard3 {
  grid-area: Tcard3;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard4 {
  grid-area: Tcard4;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard5 {
  grid-area: Tcard5;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.tCard6 {
  grid-area: Tcard6;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.nav {
  display: block;
  border-bottom: 1px solid rgb(177, 177, 177);
}

/************ Login Styles  **************/
.formHead {
  margin: auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 222px;
  flex: none;
  flex-grow: 0;
  order: 1;
  line-height: 126%;
}

.formHead h3 {
  font-weight: 500;
  font-size: 22px;
  color: #4f4f4f;
}
